@model IEnumerable<Blog.Models.Materia>
@using Microsoft.AspNetCore.Identity
@using Blog.Areas.Identity.Data
@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


<div class="container">

    @foreach (var item in Model)
    {


        <div class="card mb-4 w-75 p-3">
            <img src="@Url.Action("GetFoto", "Materia", new { id = item.MateriaID})" class="d-block card-img-top imagem-materia" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h2>
                <!-- <p class="card-text">@Html.Raw(Html.DisplayTextFor(modelItem => item.Resumo))</p> -->
                <p class="card-text">@Html.DisplayFor(modelItem => item.Resumo)</p>
                <a asp-action="MateriaCompleta" asp-route-id="@item.MateriaID" class="btn btn-primary">Leia Mais</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-action="Edit" asp-route-id="@item.MateriaID">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.MateriaID">Deletar</a>
                }
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2020 by
                <a href="#">Start Bootstrap</a>
            </div>
        </div>
    }

    </div>