@model Blog.Models.Materia
@using Microsoft.AspNetCore.Identity
@using Blog.Areas.Identity.Data
@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager

@{
    ViewData["Title"] = "MateriaCompleta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4"> @Html.DisplayFor(model => model.Titulo)</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="#">Start Bootstrap</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on @Html.DisplayFor(Model => Model.DtCreated)</p>

            <hr>

            <!-- Preview Image -->
            <img class="card-img-top imagem-materia" src="@Url.Action("GetFoto", "Materia", new { id = Model.MateriaID })" alt="">

            <hr>

            <!-- Post Content -->
            <p>@Html.Raw(Html.DisplayTextFor(model => model.Texto))</p>

            <hr>
            <div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-action="Edit" asp-route-id="@Model.MateriaID">Edit</a>
                }
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>


